# https://asdf-vm.com/guide/getting-started.html
# asdf plugin-add java https://github.com/halcyon/asdf-java.git
# asdf plugin-add scala https://github.com/asdf-community/asdf-scala.git
# asdf plugin add https://github.com/asdf-vm/asdf-nodejs.git
# asdf plugin add https://github.com/danhper/asdf-python.git
java openjdk-17.0.2
scala 3.3.0
nodejs 20.5.1
python 3.11.4
